# Quick introduction to Julia

These examples are based on http://learnxinyminutes.com/docs/julia/. Assumes Julia 0.3.x.

## Types

There are different types of numbers.

In [2]:
typeof("mykel")

ASCIIString (constructor with 2 methods)

In [3]:
typeof(1.)

Float64

In [4]:
typeof(1 + 1im)

Complex{Int64} (constructor with 1 method)

In [5]:
super(Float64)

FloatingPoint

In [6]:
super(FloatingPoint)

Real

In [7]:
super(Real)

Number

In [8]:
super(Number)

Any

In [9]:
super(Int64)

Signed

In [10]:
super(Signed)

Integer

In [11]:
super(Integer)

Real

Boolean types

In [12]:
typeof(true)

Bool

## Boolean Operators

Negation is done with !

In [13]:
!true

false

In [14]:
1 == 1

true

In [15]:
1 != 1

false

Comparisons can be chained

In [16]:
1 < 2 < 3

true

## Strings

Use double quotes for strings.

In [17]:
"This is a string"

"This is a string"

In [18]:
typeof("This is a string")

ASCIIString (constructor with 2 methods)

Use single quotes for characters.

In [19]:
'a'

'a'

In [20]:
typeof('a')

Char

In [21]:
"This is a string"[1] # note the 1-based indexing---similar to Matlab but unlike C/C++/Java

'T'

$ can be used for "string interpolation"

In [22]:
"2 + 2 = $(2+2)"

"2 + 2 = 4"

In [23]:
@printf "%d is less than %f" 4.5 5.3

5 is less than 5.300000

In [24]:
println("Welcome to Julia")

Welcome to Julia

## Variables

In [25]:
x = 5

5

Variable names start with a letter, but after that you can use letters, digits, underscores, and exclamation points.

In [26]:
xMarksTheSpot2Dig! = 1

1

## Arrays

In [27]:
a = Int64[]

0-element Array{Int64,1}

In [28]:
b = [4, 5, 6]

3-element Array{Int64,1}:
 4
 5
 6

In [29]:
b[1]

4

In [32]:
b[end-1]

5

In [31]:
matrix = [1 2; 3 4]

2x2 Array{Int64,2}:
 1  2
 3  4

In [33]:
a

0-element Array{Int64,1}

In [34]:
push!(a, 1)

1-element Array{Int64,1}:
 1

In [35]:
push!(a, 2)

2-element Array{Int64,1}:
 1
 2

In [36]:
append!(a, b)

5-element Array{Int64,1}:
 1
 2
 4
 5
 6

In [37]:
a

5-element Array{Int64,1}:
 1
 2
 4
 5
 6

In [38]:
pop!(a)

6

In [39]:
a

4-element Array{Int64,1}:
 1
 2
 4
 5

In [40]:
a[2:4]

3-element Array{Int64,1}:
 2
 4
 5

In [41]:
a[2:end]

3-element Array{Int64,1}:
 2
 4
 5

In [48]:
push!(a, convert(Int64, 1.3))

LoadError: InexactError()
while loading In[48], in expression starting on line 1

In [42]:
in(4, a)

true

In [43]:
4 in a

true

In [44]:
length(a)

4

## Tuples

In [49]:
a = (1, 5, 3)

(1,5,3)

In [50]:
typeof(a)

(Int64,Int64,Int64)

In [51]:
a[2]

5

In [52]:
a[2] = 3 # can't change elements in a tuple

LoadError: `setindex!` has no method matching setindex!(::(Int64,Int64,Int64), ::Int64, ::Int64)
while loading In[52], in expression starting on line 1

In [53]:
a, b, c = (1, 2, 3)

(1,2,3)

In [54]:
a

1

In [55]:
b

2

In [56]:
c

3

In [57]:
a, b, c = 1, 2, 3 # you can also leave off parentheses

(1,2,3)

In [58]:
a

1

In [59]:
b

2

In [60]:
c

3

In [61]:
(1,) # to create a single element tuple, you must add the "," at the end

(1,)

In [62]:
typeof((1,))

(Int64,)

## Dictionaries

In [63]:
d = Dict()

Dict{Any,Any} with 0 entries

In [64]:
d = ["one"=>1, "two"=>2, "three"=>3]

Dict{ASCIIString,Int64} with 3 entries:
  "two"   => 2
  "one"   => 1
  "three" => 3

In [65]:
d["one"]

1

In [66]:
keys(d)

KeyIterator for a Dict{ASCIIString,Int64} with 3 entries. Keys:
  "two"
  "one"
  "three"

In [67]:
collect(keys(d))

3-element Array{ASCIIString,1}:
 "two"
 "one"
 "three"

In [68]:
values(d)

ValueIterator for a Dict{ASCIIString,Int64} with 3 entries. Values:
  2
  1
  3

In [69]:
haskey(d, "one")

true

In [70]:
haskey(d, 1)

false

## Control Flow

In [71]:
# Let's make a variable
some_var = 5

# Here is an if statement. Indentation is not meaningful in Julia.
if some_var > 10
    println("some_var is totally bigger than 10.")
elseif some_var < 10    # This elseif clause is optional.
    println("some_var is smaller than 10.")
else                    # The else clause is optional too.
    println("some_var is indeed 10.")
end

some_var is smaller than 10.

In [72]:
# For loops iterate over iterables.
# Iterable types include Range, Array, Set, Dict, and String.
for animal in ["dog", "cat", "mouse"]
    println("$animal is a mammal")
    # You can use $ to interpolate variables or expression into strings
end

dog is a mammal
cat is a mammal
mouse is a mammal

In [73]:
for a in ["dog"=>"mammal","cat"=>"mammal","mouse"=>"mammal"]
    println("$(a[1]) is a $(a[2])")
end

mouse is a mammal
cat is a mammal
dog is a mammal

In [74]:
for (k,v) in ["dog"=>"mammal","cat"=>"mammal","mouse"=>"mammal"]
    println("$k is a $v")
end

mouse is a mammal
cat is a mammal
dog is a mammal

In [75]:
x = 0
while x < 4
    println(x)
    x += 1  # Shorthand for x = x + 1
end

0
1
2
3

In [76]:
# Handle exceptions with a try/catch block
try
   error("help")
catch e
   println("caught it $e")
end

caught it ErrorException("help")

## Functions

In [77]:
function add(x, y)
    println("x is $x and y is $y")
    # Functions return the value of their last statement (or where you specify "return")
    x + y
end
add(5, 6)

x is 5 and y is 6

11

In [78]:
# You can define functions with optional positional arguments
function defaults(a,b,x=5,y=6)
    return "$a $b and $x $y"
end

defaults (generic function with 3 methods)

In [79]:
defaults('h','g')

"h g and 5 6"

In [80]:
defaults('h','g','j')

"h g and j 6"

In [81]:
defaults('h','g','j','k')

"h g and j k"

In [82]:
# You can define functions that take keyword arguments
function keyword_args(;k1=4,name2="hello") # note the ;
    return ["k1"=>k1,"name2"=>name2]
end

keyword_args (generic function with 1 method)

In [83]:
keyword_args(name2="ness")

Dict{ASCIIString,Any} with 2 entries:
  "name2" => "ness"
  "k1"    => 4

In [84]:
keyword_args(k1="mine")

Dict{ASCIIString,ASCIIString} with 2 entries:
  "name2" => "hello"
  "k1"    => "mine"

In [85]:
keyword_args()

Dict{ASCIIString,Any} with 2 entries:
  "name2" => "hello"
  "k1"    => 4

In [86]:
# This is "stabby lambda syntax" for creating anonymous functions
(x -> x > 2)(3) # => true

true

In [87]:
# This function is identical to create_adder implementation above.
function create_adder(x)
    y -> x + y
end

create_adder (generic function with 1 method)

In [88]:
# You can also name the internal function, if you want
function create_adder(x)
    function adder(y)
        x + y
    end
    adder
end

create_adder (generic function with 1 method)

In [89]:
add_10 = create_adder(10)
add_10(3)

13

In [90]:
map(add_10, [1,2,3])

3-element Array{Int64,1}:
 11
 12
 13

In [91]:
filter(x -> x > 5, [3, 4, 5, 6, 7])

2-element Array{Int64,1}:
 6
 7

In [92]:
[add_10(i) for i in [1, 2, 3]]

3-element Array{Any,1}:
 11
 12
 13

## Composite Types

In [93]:
type Tiger
  taillength::Float64
  coatcolor # not including a type annotation is the same as `::Any`
end

In [94]:
tigger = Tiger(3.5,"orange")

Tiger(3.5,"orange")

In [95]:
abstract Cat # just a name and point in the type hierarchy

In [96]:
subtypes(Number)

2-element Array{Any,1}:
 Complex{T<:Real}
 Real

In [97]:
subtypes(Cat)

0-element Array{Any,1}

In [98]:
# <: is the subtyping operator
type Lion <: Cat # Lion is a subtype of Cat
  mane_color
  roar::String
end

In [99]:
# You can define more constructors for your type
# Just define a function of the same name as the type
# and call an existing constructor to get a value of the correct type
Lion(roar::String) = Lion("green",roar)
# This is an outer constructor because it's outside the type definition

Lion (constructor with 3 methods)

In [100]:
type Panther <: Cat # Panther is also a subtype of Cat
  eye_color
  Panther() = new("green")
  # Panthers will only have this constructor, and no default constructor.
end

In [101]:
subtypes(Cat)

2-element Array{Any,1}:
 Lion
 Panther

## Multiple Dispatch

In [102]:
function meow(animal::Lion)
  animal.roar # access type properties using dot notation
end

function meow(animal::Panther)
  "grrr"
end

function meow(animal::Tiger)
  "rawwwr"
end

meow (generic function with 3 methods)

In [103]:
meow(tigger)

"rawwwr"

In [104]:
meow(Lion("brown","ROAAR"))

"ROAAR"

In [105]:
meow(Panther())

"grrr"

## Native Code

In [106]:
square(l) = l * l

square (generic function with 1 method)

In [107]:
square(5)

25

In [108]:
code_native(square, (Int32,))

	.text
Filename: In[106]
Source line: 1
	push	RBP
	mov	RBP, RSP
Source line: 1
	movsxd	RAX, ECX
	imul	RAX, RAX
	pop	RBP
	ret

In [109]:
code_native(square, (Float64,))

	.text
Filename: In[106]
Source line: 1
	push	RBP
	mov	RBP, RSP
Source line: 1
	vmulsd	XMM0, XMM0, XMM0
	pop	RBP
	ret

In [110]:
code_llvm(square, (Int32,))

define i64 @julia_square_2489(i32) {
top:
  %1 = sext i32 %0 to i64, !dbg !7526
  %2 = mul i64 %1, %1, !dbg !7526
  ret i64 %2, !dbg !7526
}

In [ ]:
Ï„